body {
  background-color: #fffff;
  color: #4d4e53;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-size: 20px
}
header {
  color: black;
  text-align: center;
}
#navbar {
  position: fixed;
  background-color: white;
  min-width: 290px;
  width: 300px;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  top: 0px;
  left: 0px;
}
#navbar ul {
  padding: 0px;
}
@media only screen and (max-width: 815px) {
  #navbar {
    width: 100%;
    position: absolute;
}
}
#navbar li {
  border-top: solid 1px black;
  width: 100%;
}
li a:link {
  color: #4d4e53;
  text-decoration: none;
}
#main-doc {
  position: relative;
  margin-left: 325px;
  margin-bottom: 200px;
  margin-top: 75px;
}
@media only screen and (max-width: 815px) {
  #main-doc {
    position: relative;
    margin-top: 325px;
    margin-left: 0px;
}
}
header {
  color: black;
  text-align: left;
  font-size: 38px
}
@media only screen and (max-width: 815px) {
nav header {
  white-space:nowrap;
}
}
code {
  background: lightgray;
  padding: 5px;
}